* {
    margin: 0%;
}

header {
    background-color: rgba(0, 0, 255, 0.705);
}

header h4 {
    color: white;
    font-size: x-large;
    position: relative;
    top: 30px;
    left: 40px;
}

header label {
    color: white;
    padding-left: 850px;
    padding-bottom: 100px;
}

.l1 {
    position: relative;
    bottom: 20px;
    right: 55px;
}

.l2 {
    position: relative;
    bottom: 60px;
    left: 125px;
}

#l3 {
    position: relative;
    left: 790px;
    top: 20px;
}

.l4 {
    position: relative;
    top: 20px;
    right: 60px;
}

header a {
    color: white;
    position: relative;
    right: 110px;
    text-decoration: none;
}

#userName {
    position: relative;
    top: 10px;
    right: 100px;
    width: 150px;
}

#password {
    position: relative;
    left: 50px;
    bottom: 30px;
    width: 150px;
}

header button {
    position: relative;
    bottom: 50px;
    left: 1170px;
}

body main p {
    font-size: x-large;
    width: 420px;
    position: relative;
    top: 50px;
    left: 60px;
    color: blue;
}

main img {
    width: 450px;
    position: relative;
    top: 60px;
    left: 50px;
}

article {
    float: right;
    position: relative;
    right: 80px;
    bottom: 270px;
}

body {
    background-color: rgb(194, 194, 190, 0.5);
}

article h4 {
    font-size: x-large;
    color: blue;
}

article .p1 {
    font-size: larger;
    border-bottom: 1px solid black;
    color: blue;
}

article .p2 {
    color: blue;
    font-size: small;
}

article label {
    color: blue;
}

#Female {
    position: relative;
    left: 38px;
}

.Female {
    position: relative;
    left: 38px;
}

#other {
    position: relative;
    left: 38px;
}

.other {
    position: relative;
    left: 38px;
}

#firstname {
    width: 150px;
    height: 25px;
    margin-top: 10px;
}

#lastname {
    width: 154px;
    height: 25px;
    margin-top: 4px;
}

#email {
    width: 151px;
    height: 26px;
    margin-top: 4px;
}

#enter1 {
    width: 145px;
    height: 25px;
    margin-top: 4px;
}

#enter2 {
    width: 145px;
    height: 25px;
    margin-top: 4px;
}

.i1 {
    font-size: small;
}

.i2 {
    font-size: small;
}

.i3 {
    margin-top: 6px;
}

#calender {
    margin-top: 6px;
    width: 120px;
    height: 25px;
}

footer {
    clear: both;
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 20px;
    font-size: x-large;
}

#f2 {
    background-color: green;
    color: white;
}

#f1 {
    background-color: rgba(0, 0, 255, 0.178);
    color: white;
    width: 50px;
}